---
title: Save Ineternet- Support Net Neutrality
component: ContentPage
---
div
  div
    h3 Net Neutrality: What You Need to Know Now
    dl
      h4 What is happening around the world and what is happening in India?
      h5 In World:
      dd In May 2014, FCC Chairman Tom Wheeler released a plan that would have allowed companies like AT&T, Comcast and Verizon to discriminate online and create pay-to-play fast lanes.
      br
      dd Millions of you spoke out — and fought back.
      dd Thanks to the huge public and political outcry, Wheeler shelved his original proposal, and on Feb. 4, 2015, he announced that he would base new Net Neutrality rules on Title II of the Communications Act, giving Internet users the strongest protections possible
      dd The FCC approved Wheeler’s proposal on Feb. 26, 2015. This is a watershed victory for activists who have fought for a decade to protect the open Internet.
      dd However, now that the FCC’s Net Neutrality rules are out in the world, opponents are doing everything they can to undermine the open Internet.
      h5 In India:
      dd Another Giant Facebook, started working on same concept. Now contory is different. It is India. The biggest market to sell any product. By providing our basic needs, They wanna to rule on us.
      br
      h4 What is Net Neutrality?
      dd Net Neutrality is the Internet’s guiding principle: It preserves our right to communicate freely online. This is the definition of an open Internet.
         |Net Neutrality means an Internet that enables and protects free speech. It means that Internet service providers should provide us with open networks — and should not block or discriminate against any applications or content that ride over those networks. Just as your phone company shouldn't decide who you can call and what you say on that call, your ISP shouldn't be concerned with the content you view or post online.
         |Without Net Neutrality, cable and phone companies could carve the Internet into fast and slow lanes. An ISP could slow down its competitors' content or block political opinions it disagreed with. ISPs could charge extra fees to the few content companies that could afford to pay for preferential treatment — relegating everyone else to a slower tier of service. This would destroy the open Internet.
      h4 What did the TRAI vote on?
      dd TRAI has issued another consultation paper asking once again, if we want Net Neutrality. This time, it's about differential pricing - Airtel Zero and Internet.org type services.
      h4 Why is Net Neutrality important for businesses?
      dd Net Neutrality is crucial for small business owners, startups and entrepreneurs, who rely on the open Internet to launch their businesses, create a market, advertise their products and services, and distribute products to customers. We need the open Internet to foster job growth, competition and innovation.
        |Net Neutrality lowers the barriers of entry for entrepreneurs, startups and small businesses by ensuring the Web is a fair and level playing field. It’s because of Net Neutrality that small businesses and entrepreneurs have been able to thrive on the Internet. They use the Internet to reach new customers and showcase their goods, applications and services.
        |No company should be able to interfere with this open marketplace. ISPs are by definition the gatekeepers to the Internet, and without Net Neutrality, they would seize every possible opportunity to profit from that gatekeeper control.
        |Without Net Neutrality, the next Google would never get off the ground.
      h4 Why is Net Neutrality important for communities of color?
      dd The open Internet allows communities of color to tell their own stories and to organize for racial and social justice.
        |The mainstream media have failed to allow people of color to speak for themselves. And thanks to economic inequality and runaway media consolidation, people of color own just a handful of broadcast stations. The lack of diverse ownership is a primary reason why the media have gotten away with portraying communities of color stereotypically.
        |The open Internet gives marginalized voices opportunities to be heard. But without Net Neutrality, ISPs could block unpopular speech and prevent dissident voices from speaking freely online. Without Net Neutrality, people of color would lose a vital platform.
        |And without Net Neutrality, millions of small businesses owned by people of color wouldn't be able to compete against larger corporations online, which would further deepen the economic inequality in our nation’s most vulnerable communities.
      h3 So what can we do now?
      dd Send a message to the Telecom Regulatory Authority of India (TRAI) and tell them we do not want Free Basics in India if it comes with the cost of our Net Freedom.
        |Please share this your friends and ask them to send email to TRAI.
      br
      dt <a href="savenetneutrality/">Save Net Neutrality- India</a>
